<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-animation_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,522}</string>
                <key>spriteSourceSize</key>
                <string>{409,522}</string>
                <key>textureRect</key>
                <string>{{0,0},{409,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-animation_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,522}</string>
                <key>spriteSourceSize</key>
                <string>{409,522}</string>
                <key>textureRect</key>
                <string>{{409,0},{409,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-animation_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,522}</string>
                <key>spriteSourceSize</key>
                <string>{409,522}</string>
                <key>textureRect</key>
                <string>{{818,0},{409,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-animation_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,522}</string>
                <key>spriteSourceSize</key>
                <string>{409,522}</string>
                <key>textureRect</key>
                <string>{{1227,0},{409,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-animation_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,522}</string>
                <key>spriteSourceSize</key>
                <string>{409,522}</string>
                <key>textureRect</key>
                <string>{{1636,0},{409,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-animation_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,522}</string>
                <key>spriteSourceSize</key>
                <string>{409,522}</string>
                <key>textureRect</key>
                <string>{{0,522},{409,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-animation_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,522}</string>
                <key>spriteSourceSize</key>
                <string>{409,522}</string>
                <key>textureRect</key>
                <string>{{409,522},{409,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-animation_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,522}</string>
                <key>spriteSourceSize</key>
                <string>{409,522}</string>
                <key>textureRect</key>
                <string>{{818,522},{409,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-animation_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,522}</string>
                <key>spriteSourceSize</key>
                <string>{409,522}</string>
                <key>textureRect</key>
                <string>{{1227,522},{409,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-animation_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,522}</string>
                <key>spriteSourceSize</key>
                <string>{409,522}</string>
                <key>textureRect</key>
                <string>{{1636,522},{409,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-animation_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,522}</string>
                <key>spriteSourceSize</key>
                <string>{409,522}</string>
                <key>textureRect</key>
                <string>{{0,1044},{409,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-animation_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,522}</string>
                <key>spriteSourceSize</key>
                <string>{409,522}</string>
                <key>textureRect</key>
                <string>{{409,1044},{409,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-animation_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,522}</string>
                <key>spriteSourceSize</key>
                <string>{409,522}</string>
                <key>textureRect</key>
                <string>{{818,1044},{409,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-animation_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,522}</string>
                <key>spriteSourceSize</key>
                <string>{409,522}</string>
                <key>textureRect</key>
                <string>{{1227,1044},{409,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-animation_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,522}</string>
                <key>spriteSourceSize</key>
                <string>{409,522}</string>
                <key>textureRect</key>
                <string>{{1636,1044},{409,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Boomer.png</string>
            <key>size</key>
            <string>{2045,1566}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1e275f5c2bf2bc43bd6f5af594af927:7a5d98aa9c5d560fa4931d5f75756e85:826f472404a7c7cbb88c5acacc488023$</string>
            <key>textureFileName</key>
            <string>Boomer.png</string>
        </dict>
    </dict>
</plist>
